<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-1 rounded" style="background-color: #004828;">
	<a class="navbar-brand" href="/">
		<img src="/public/img/logo1.png" alt="" style="max-width: 70px; border-radius: 50px;">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav">
			<a class="nav-link" href="/produtos" style="color: #fffcfc;">Despensa</a>
			<a class="nav-link" href="/consulta" style="color: #fffcfc;">Consulta</a>
			<a class="nav-link" href="/sobre" style="color: #fffcfc;">Sobre</a>
		</div>
	</div>
</nav>

<style>
	.page-item.active .page-link{
		background-color: #004828;
		border-color: #004828;
		margin-bottom: 10px;
	}
</style>