<div class="rodape" style="background-color: #004828;">
	<div class="row justify-content-around">
		<div class="col-md-3"><img src="/public/img/logo1.png" alt="" style="max-width: 170px; "></div>

		<div class="col-md-6 pt-5">
			<img src="/public/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
			<br>
			<a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
				<small>Desenvolvido em 2024 pelo curso de Sistemas de Informação da ESPM</small>
			</a>
		</div>

		<div class="col-md-3">
			<div class="link-container" style="color: white;">
				<p><a href="">DietController@gmail.com</a></p>
				<p>R. Joaquin Tavora 1240</p>
				<p>(99)99999-9999</p>
				<div class="row justify-content-center" style="color: white;">
					<img class="imgg mr-2" src="/public/img/footer/facebook.svg" alt="">
					<img class="imgg mr-2" src="/public/img/footer/instagram.svg" alt="">
					<img src="/public/img/footer/linkedin.svg" alt="">
				</div>
			</div>
		</div>
	</div>



</div>


<style>

</style>