<div class="container-fluid">

	<h1>Sou a sua dispensa!</h1>

	<div class="form-group" style="width: 300px;">
		<label for="NomeAlimento">Insira seu alimento</label>
		<input type="text" class="form-control mb-3" id="NomeAlimento" placeholder="Alimento" value="<%= nome %>">
		<input type="number" class="form-control" id="QntAlimento" placeholder="Quantidade">
		<button class="btn btn-primary mt-3" onclick="criar()">Criar Alimento</button>
	</div>


	<h3>Sua Dispensa</h3>

	<div id="divContainer"></div>
</div>

<div class="modal" tabindex="-1" id="modalEditar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Alimento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="idAlimento">
				
				<div class="form-group">
					<label for="NomeAlimento">Nome</label>
					<input class="form-control" type="text" id="EditNome" maxlength="50" />
				</div>

				<div class="form-group">
					<label for="QntAlimento">quantidade</label>
					<input class="form-control" type="number" name="quantidade" id="EditQntAlimento" maxlength="50" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" onclick="editarProduto()">Salvar</button>
			</div>
		</div>
	</div>
</div>

<script>

	let nome = document.getElementById("NomeAlimento");
	let qnt = document.getElementById("QntAlimento");

	async function listar() {
		let divContainer = document.getElementById("divContainer");

		let response = await fetch("/listar");
		let produtos = await response.json();

		let html = `<p>listagem de produtos (${produtos.length} produtos no total)</p>`;

		for (let contador = 0; contador < produtos.length; contador++) {
			html += `
				<h4>
					${encode(produtos[contador].nome)}
				</h4>
	
				<p>
					Id: ${produtos[contador].id}
				</p>
	
				<p>
					Qtd: ${produtos[contador].quantidade}
				</p>
	
				<p>
					<button type="button" class="btn btn-primary" onclick="abrirModal(${produtos[contador].id})">
						Editar Produto
					</button>
				</p>
	
				<button class="btn btn-danger" type="button" onclick="excluirProduto(${produtos[contador].id})">
					Excluir Produto
				</button>
	
				<hr>
			</div>
			`;
		}

		divContainer.innerHTML = html;
	}

	async function criar() {
		if (!nome.value) {
			alert("Nome do alimento é obrigatorio")
			return;
		}
		if (!qnt.value) {
			alert("Quantidade é obrigatorio")
			return;
		}

		let dadosPenvio = {
			nome: nome.value,
			quantidade: qnt.value
		};

		let opcoes = {
			method: "POST",
			headers: {
				"content-type": "application/json"
			},
			body: JSON.stringify(dadosPenvio)
		};
		try {
			let response = await fetch("/criar", opcoes);

			if (response.ok) {
				nome.value = "";
				qnt.value = "";

				await listar();

				alert("Alimento criado com sucesso");
			} else {
				alert("Erro ao criar alimento");
			}
		} catch (ex) {
			alert("erro de rede");
		}
	}

	async function abrirModal(id) {
		try {
			let response = await fetch("/obter?id=" + encodeURIComponent(id));
			let alimento = await response.json();
			if (response.ok) {
				document.getElementById("idAlimento").value = id;
				document.getElementById("EditNome").value = alimento.nome;
				document.getElementById("EditQntAlimento").value = alimento.quantidade;
				$("#modalEditar").modal("show");
			} else {
				alert("Erro ao obter o alimento");
			}
		} catch (ex) {
			alert("erro de rede");
		}
	}

	async function excluirProduto(id) {
		if (!confirm("Deseja realmente excluir o produto?")) {
			return;
		}
		let opcoes = {
			method: "DELETE"
		};

		try {
			let response = await fetch("/excluir?id=" + id, opcoes);
			if (response.ok) {
				alert("Produto excluído com sucesso");
				await listar();
				let divProdutos = document.getElementById("divProdutos" + id);
				document.body.removeAttribute(divProdutos);
			} else {
				alert("Erro ao excluir o produto");
			}
		} catch (ex) {
			alert("Erro de rede: " + ex.message);
		}
	}

	listar();

	async function editarProduto(){
		let id = document.getElementById("idAlimento").value;
		let nome = document.getElementById("EditNome").value;
		let quantidade = document.getElementById("EditQntAlimento").value;

		if (!id) {
			alert("O id é obrigatório");
			return;
		}

		if (!nome) {
			alert("O nome é obrigatório");
			return;
		}

		if (!quantidade) {
			alert("Quantidade é obrigatório");
			return;
		}

		let dadosPenvio = {
			id: id,
			nome: nome,
			quantidade: quantidade
		};

		let opcoes = {
			method: "POST",
			headers: {
				"content-type": "application/json"
			},
			body: JSON.stringify(dadosPenvio)
		};

		try {
			let response = await fetch("/editar", opcoes);

			if (response.ok) {
				await listar()
				$("#modalEditar").modal("hide");
			} else {
				alert("Erro ao alterar o alimento");
			}
		} catch (ex) {
			alert("Erro de rede: " + ex.message);
		}
	}
</script>