<div class="container-fluid mt-3">
	<div class="row mt-4 photo">
		<div class="col-md-3">
			<div class="centro">
				<img class="person" src="/public/img/Felipe.png">
				<h3>Felipe Gudefin</h3>
			</div>
			<p>
				Felipe é um estudante de Sistemas de Informação na ESPM-SP apaixonado por Desenvolvimento em suas
				diversas facetas.
				Sua paixão por computadores começou cedo na vida e quer empreender em projetos que melhorem a qualidade
				de vida das pessoas.
			</p>
			<div class="row">
				<a href="https://www.linkedin.com/in/felipe-masetti-gudefin-2a9926259/?originalSubdomain=br"><img
						class="icone" src="/public/img/Linkedin.svg" alt=""></a>
				<a href="https://github.com/gudefin1"><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="centro">
				<img class="person" src="/public/img/Joao.png" alt="">
				<h3>João P Helbel</h3>
			</div>
			<p>Lorem ipsum dolor, sit amet Rerum adipisicing elit.
				accusamus hic natuss Lorem, ipsum dolor sit amet
			</p>
			<div class="row">
				<a href="https://www.linkedin.com/in/joaohelbel/"><img class="icone" src="/public/img/Linkedin.svg"
						alt=""></a>
				<a href="https://github.com/joaohelbel"><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href="https://joaohelbel.github.io."><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="centro">
				<img class="person" src="/public/img/Paulo.png" alt="">
				<h3>Paulo Cesar</h3>
			</div>
			<p>Lorem ipsum dolor, sit amet Rerum adipisicing elit.
				accusamus hic natuss Lorem, ipsum dolor sit amet
			</p>
			<div class="row">
				<a href=""><img class="icone" src="/public/img/Linkedin.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
	</div>

</div>

<%- contentFor("espaco-head") %>
	<style>
		.person {
			border-radius: 50%;
			width: 180px;
		}

		.icone {
			width: 24px;
			height: 24px;
			margin-left: 15px;
		}

<<<<<<< HEAD
	.container{
		margin-bottom: 80px;
		margin-top: 20px;
	}
	.person{
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		margin-top: 8px;
		filter: blur(0); 
		border: 4px solid aliceblue;
	}
	.card-article{
		position: relative;
		overflow: hidden;
	}
	.card-data{
		color: white;
		padding: 8px;
		width: 250px;
		background-color: rgb(0, 0, 0);
		box-shadow: 0 8px 24px hsla(0%, 0%, 0%, .15);
		border-radius: 1rem;
		position: absolute;
		bottom: -12rem;
		left: 0;
		right: 0;
		margin-inline: auto;
		opacity: 0;
		transition: 1s 1s;
	}
	.card-descricao{
		display: block;
		font-size: small;
		margin-bottom: .25rem;
	}
	.card-article:hover .card-data{
		animation: show-data 1s forwards;
		opacity: 1;
		transition: opacity .3s;
	}
	.card-article:hover{
		animation: remove-overflow 2s forwards;
	}
	.card-article:not(:hover){
		animation: show-overflow 2s forwards;
	}
	.card-article:not(:hover) .card-data{
		animation: remove-data 1s forwards;
	}
	@keyframes show-data{
		50%{
			transform: translateY(-10rem);
=======
		.centro {
			text-align: center;
>>>>>>> parent of fb41f58 (Commit sobre)
		}

		.photo {
			justify-content: space-between;
		}
	</style>