<div class="container-fluid mt-1" style="background-color: #604C4C; border-top-left-radius: 10px; border-top-right-radius: 10px;">
	<h1 style="text-align: center; color: #fdf7e1; padding-top: 15px;">Nossa historia</h1>
	<div class="row py-5">
		<div class="col-md-8 ml-5" style="text-align: justify; color: #fdf7e1;">
			<p>A Diet Control nasceu da paixão de Paulo Cesar, um estudante de Sistemas de Informação da ESPM-SP, por
				tecnologia e bem-estar. Inspirado por sua jornada pessoal de transformação através de uma alimentação
				saudável e exercícios físicos, Paulo idealizou um aplicativo que facilitasse o controle da dieta e o
				acompanhamento do progresso de cada indivíduo.
			</p>
			<p>
				Junto a ele João Pedro Helbel, colega de faculdade que compartilhavam da mesma visão
				e paixão pelo projeto. Após meses de trabalho árduo e dedicação, o aplicativo foi lançado em 2024,
				rapidamente conquistando usuários em todo o Brasil.
			</p>
		</div>
		<div class="col-md-3">
			<img src="/public/img/logo1.png" alt="" style="max-width: 250px;">
		</div>
	</div>
</div>
<div class="container-fluid" style="background-color: #fdf7e1;">
	<div class="row py-5 photo">
		<div class="col-md-6">
			<div class="centro">
				<div class="row">
					<div class="col-md-4 pr-0 mr-0">
						<img class="person" src="/public/img/Joao.png" alt="">
						<div class="row">
							<a href="https://www.linkedin.com/in/joaohelbel/"><img class="icone"
									src="/public/img/Linkedin.svg" alt=""></a>
							<a href="https://github.com/joaohelbel"><img class="icone" src="/public/img/Git.svg"
									alt=""></a>
							<a href="https://joaohelbel.github.io."><img class="icone" src="/public/img/Globo.svg"
									alt=""></a>
						</div>
					</div>
					<div class="col-md-8">
						<h3>João Pedro Helbel</h3>
						<h6>CTO & Desenvolvedor</h6>
						<p style="text-align: justify;">João Pedro Helbel é o CTO e Desenvolvedor do Diet Controller.
							Estudante de Sistemas de informação na ESPM, Com uma paixão por tecnologia,
							João Pedro garante que nosso aplicativo seja robusto, seguro e fácil de usar.</p>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<div class="centro">
				<div class="row">
					<div class="col-md-4 pr-0 mr-0">
						<img class="person" src="/public/img/Paulo.png" alt="">
						<div class="row">
							<a href=""><img class="icone" src="/public/img/Linkedin.svg" alt=""></a>
							<a href=""><img class="icone" src="/public/img/Git.svg" alt=""></a>
							<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Paulo Cesar</h3>
						<h6>CEO & Fundador</h6>
						<p style=" text-align: justify;">
							Paulo Cesar é o CEO e Fundador do Diet Controller. Estudante de
							Ciência de dados e negócios na ESPM. Sua liderança e paixão pelo bem-estar são
							fundamentais para o sucesso do Diet Controller, ajudando milhares de pessoas a atingir suas
							metas.
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>

<%- contentFor("espaco-head") %>
	<style>
		.person {
			border-radius: 10px;
			width: 200px;
		}

		.icone {
			width: 24px;
			height: 24px;
			margin-left: 15px;
		}
	</style>