<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h1>Felipe Gudefin</h1>
		</div>
		<div class="col-md-4">
			<h1>João Pedro Helbel</h1>
		</div>
		<div class="col-md-4">
			<h1>Paulo Cesar</h1>
		</div>
	</div>

</div>
