<div class="container-fluid">
	<div class="row mt-4 photo">
		<div class="col-md-4">
			<img class="person" src="/public/img/Felipe.png"> 
			<h3>Felipe Gudefin</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				Rerum accusamus hic natuss
			</p>
			<div class="row">
				<a href=""><img class="icone" src="/public/img/Linkedin.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
		<div class="col-md-4">
			<img class="person" src="/public/img/Joao.png" alt="">
			<h3>João P Helbel</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				Rerum accusamus hic natuss
			</p>
			<div class="row">
				<a href=""><img class="icone" src="/public/img/Linkedin.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
		<div class="col-md-4">
			<img class="person" src="/public/img/Paulo.png" alt="">
			<h3>Paulo Cesar</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				Rerum accusamus hic natuss
			</p>
			<div class="row">
				<a href=""><img class="icone" src="/public/img/Linkedin.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Git.svg" alt=""></a>
				<a href=""><img class="icone" src="/public/img/Globo.svg" alt=""></a>
			</div>
		</div>
	</div>

</div>

<%- contentFor("espaco-head") %>
<style>
.person{
	border-radius: 50%;
	width: 180px;
}
.icone{
	width: 24px;
	height: 24px;
	margin-left: 15px;
}

</style>
